.paint {
  border-radius: 5px;
  background-color: #006666;
  height: 100%;
  width: 99%;
  margin: 10px;
  display: flex;
}

.middle-card{
  padding-left: 30px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.btn-size{
  width: 50%;
}
.text-color {
  color: #dddddd;
}
.img {
  margin: 15px;
  padding-left: 55px;
  width: 500px;
  height: 600px;
}
//@media screen and (max-width: 10px) {
//  .middle-card{
//    padding-left: 30px;
//    width: 30%;
//  }
//}
