.App {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header{
	margin-bottom: 1rem;
	color:darkslategray;
}

footer {
	margin-top: 1rem;
	color:darkslategray;
}

/*.App main {*/
/*	background-color: lightsalmon;*/
/*	padding: 15px;*/
/*	overflow-y: scroll;*/
/*}*/