.App {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
}

.App header {
	background-color: lightblue;
}

.App main {
	background-color: lightsalmon;
}

.App footer {
	background-color: lavender;
}